@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*VARIABLES*/
.introduccion p, .diseños p {
  justify-content: center;
  text-align: justify;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  color: #858585; }

.contenedor-bg .texto {
  text-shadow: -1px -1px 1px #efede3, 0px 1px 0 #2e2e2e, 0px 2px 0 #2c2c2c, 0px 3px 0 #2a2a2a, 0px 4px 0 #282828, 0px 5px 0 #262626, 0px 6px 0 #242424, 0px 7px 0 #222, 0px 8px 0 #202020, 0px 9px 0 #1e1e1e, 0px 10px 0 #1c1c1c, 0px 11px 0 #1a1a1a, 0px 12px 0 #181818, 0px 13px 0 #161616, 0px 14px 0 #141414, 0px 15px 0 #121212, 2px 20px 5px rgba(0, 0, 0, 0.9), 5px 23px 5px rgba(0, 0, 0, 0.3), 8px 27px 8px rgba(0, 0, 0, 0.5), 8px 28px 35px rgba(0, 0, 0, 0.9); }

.efecto h2, .efecto p {
  transform: translateY(-20rem);
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif; }

/*SECCIONES*/
.presentacion-equipo {
  justify-content: center;
  padding-top: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  display: flex; }

.contenedor-equipo {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  display: grid; }
  .contenedor-equipo .persona {
    width: 32rem;
    height: 35rem;
    margin: 5rem auto; }
    .contenedor-equipo .persona .contenedor-persona {
      border-radius: 6rem 0 6rem 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .contenedor-equipo .persona .contenedor-persona:hover {
        box-shadow: 0px 0px 35px 0px #ffcead; }
      .contenedor-equipo .persona .contenedor-persona img {
        inset: 0;
        width: 100%;
        height: 100%;
        transition: transform .5s;
        filter: grayscale(100%);
        z-index: -1; }
      .contenedor-equipo .persona .contenedor-persona:hover img {
        transform: scale(1.13);
        filter: grayscale(0%);
        cursor: pointer; }
    .contenedor-equipo .persona .cargo {
      color: #5f5f5f;
      text-align: center;
      padding: 1rem;
      margin-top: .5rem;
      font-size: 1.3rem;
      font-family: "Barlow Condensed", sans-serif;
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(4px);
      border-radius: 15px; }

@media screen and (max-width: 1024px) {
  .presentacion-equipo {
    font-size: 1.1rem; }
  .contenedor-equipo {
    display: flex;
    flex-direction: column; }
  .contenedor-persona {
    width: 100%;
    height: 100%; }
  .persona {
    width: 25rem;
    height: auto;
    margin: 1rem auto; } }

@media screen and (max-width: 425px) {
  .contenedor-equipo {
    margin: .7rem; }
    .contenedor-equipo .persona {
      margin: auto;
      width: 22rem;
      height: auto; }
    .contenedor-equipo .cargo {
      font-size: 1rem; } }

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #141414; }
  .footer .logo {
    padding: 1rem; }
    .footer .logo a {
      text-decoration: none;
      font-size: 1.8rem;
      font-family: "lobster";
      color: #858585; }
      .footer .logo a:hover {
        color: rgba(255, 250, 200, 0.61); }

.iconos {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  margin-right: 3rem; }
  .iconos .facebook svg:hover {
    transform: scale(1.1);
    stroke: #3b5998; }
  .iconos .instagram svg:hover {
    transform: scale(1.1);
    stroke: #a73681; }
  .iconos .twitter svg:hover {
    transform: scale(1.1);
    stroke: #00acee; }

svg:hover {
  transition: transform .3s ease-in-out; }

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%; }
  .iconos svg {
    width: 2rem;
    height: 2rem; }
  .logo a {
    font-size: 1.5rem; } }

@media screen and (max-width: 425px) {
  .footer {
    width: 100%; }
    .footer .logo a {
      font-size: 1.2rem; }
    .footer .iconos {
      gap: 2rem;
      margin-right: 2rem;
      align-items: center; }
      .footer .iconos svg {
        width: 1.2rem;
        height: 1.2rem; } }

.contenedor-formulario .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60rem;
  height: 70rem; }

.contenedor-formulario .contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(4px);
  border-radius: 10px; }

.form-label {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  color: #5f5f5f; }

.form-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: .1rem solid #cccccc;
  width: 100%;
  margin-bottom: 2rem;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Barlow Condensed", sans-serif; }

.form-textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: .1rem solid #cccccc;
  margin-bottom: 2rem;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  border-radius: .7rem;
  resize: none;
  font-size: 1.8rem;
  width: 100%;
  height: 15rem; }

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.8rem;
  color: #494949;
  text-transform: uppercase;
  font-weight: bold; }
  .btn-submit:hover {
    color: rgba(255, 250, 200, 0.61);
    transform: scale(1.07);
    transition: transform .3s ease; }

@media screen and (max-width: 1024px) {
  .contenedor-formulario .formulario {
    width: auto;
    height: auto;
    margin: 3rem; }
  .contacto {
    font-size: 1.1rem; }
  .btn-submit {
    font-size: 2.1rem; }
  .form-label {
    font-size: 1.3rem; } }

@media screen and (max-width: 425px) {
  .contenedor-formulario .formulario {
    width: 15rem;
    height: auto;
    margin: 0 auto; }
  .contenedor-formulario .formulario-titulo {
    font-size: 2.1rem; }
  .contacto {
    font-size: .8rem; }
  .form-input, .form-textarea {
    font-size: 1.3rem; }
  .btn-submit {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .form-label {
    font-size: 1.3rem; } }

.header {
  display: flex;
  height: 5rem;
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px); }

.navegacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  word-spacing: 10rem; }
  .navegacion ul {
    display: flex;
    gap: 10rem; }
  .navegacion li {
    list-style: none;
    transition: transform .6s; }
    .navegacion li:hover {
      transform: scale(1.25); }
  .navegacion a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff; }
    .navegacion a:hover {
      color: rgba(255, 250, 200, 0.61); }

@media screen and (max-width: 1024px) {
  .header {
    width: 100%; }
  .navegacion {
    width: 100%;
    justify-content: center; }
    .navegacion ul {
      gap: 4rem;
      align-items: center;
      margin: 1rem; }
    .navegacion a {
      font-size: 1.3rem; } }

@media screen and (max-width: 425px) {
  .header {
    width: 100vw;
    height: auto; }
  .navegacion ul {
    flex-direction: column;
    gap: 1rem; } }

body {
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.contenedor-bg {
  display: flex;
  background-image: url(../img/fondo-bg.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; }
  .contenedor-bg .texto {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-right: 3rem;
    font-family: "lobster";
    color: rgba(255, 250, 200, 0.61);
    font-size: 4.2rem;
    filter: blur(0.8px); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  background: rgba(255, 255, 255, 0.0025);
  backdrop-filter: blur(15px); }
  .menu.active {
    top: -100%; }
  .menu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .menu .nav ul {
      position: relative; }
      .menu .nav ul li {
        position: relative;
        list-style: none;
        padding: 0 2rem;
        margin: .5rem 0;
        overflow: hidden; }
        .menu .nav ul li:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 250, 200, 0.61);
          transition: transform 0.3s ease-in-out;
          transform: scaleY(0);
          transform-origin: bottom; }
        .menu .nav ul li:hover:before {
          transition: transform 0.5s ease-in-out;
          transform: scaleY(1);
          transform-origin: top; }
        .menu .nav ul li a {
          position: relative;
          font-family: "Barlow Condensed", sans-serif;
          color: #ffffff;
          text-decoration: none;
          font-size: 4rem;
          font-weight: bold;
          display: inline-block;
          text-transform: uppercase;
          transition: 0.3s ease-in-out; }
          .menu .nav ul li a::before {
            content: attr(data-text);
            position: absolute;
            bottom: -100%;
            left: 0;
            color: #141414; }
        .menu .nav ul li:hover a {
          transform: translateY(-100%); }

.icono {
  position: fixed;
  top: 2rem;
  right: 0rem;
  width: 5rem;
  height: 5rem;
  background: transparent url(../../img/menuClose.png);
  filter: invert(50%);
  background-size: 3rem;
  cursor: pointer;
  background-repeat: no-repeat; }
  .icono.active {
    background: transparent url(../../img/menuOpen.png);
    filter: invert(50%);
    background-size: 3rem;
    background-repeat: no-repeat; }

@media screen and (max-width: 1024px) {
  .contenedor-bg {
    width: 100%;
    height: 100vh;
    background-size: cover; }
    .contenedor-bg .texto {
      font-size: 2.3rem;
      padding-right: 1rem; }
  .icono {
    top: 1rem;
    right: 0;
    width: 4rem;
    height: 4rem; } }

@media screen and (max-width: 425px) {
  .contenedor-bg {
    height: 100vh;
    background-size: cover; }
    .contenedor-bg .texto {
      font-size: 1.7rem; }
  .icono {
    top: 1rem;
    right: .7rem;
    width: 3rem;
    height: 3rem; } }

.bg-general {
  background-image: url(../../img/fondo-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.contenido {
  width: 60rem;
  height: 57rem;
  margin: auto auto;
  padding: 3rem; }

.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin: 1rem; }

.titulo {
  display: flex;
  justify-content: center;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #8d8d8d;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 15px; }

.introduccion {
  display: flex;
  padding: .5rem;
  margin: 0 auto; }
  .introduccion p {
    color: #ffffff; }

.imagen img {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  margin-top: 1rem;
  filter: grayscale(25%);
  box-shadow: 0px 0px 20px -3px rgba(247, 207, 135, 0.57); }

@media screen and (max-width: 1024px) {
  .contenido {
    width: 37rem;
    height: auto; }
  .presentacion {
    font-size: 1.2rem; } }

@media screen and (max-width: 425px) {
  .contenido {
    width: auto;
    height: auto; }
  .presentacion {
    font-size: 1.3rem; }
  .titulo, .introduccion {
    font-size: 1rem; } }

* {
  margin: 0;
  padding: 0; }

.diseños {
  display: flex; }
  .diseños h2 {
    font-family: "Barlow Condensed", sans-serif; }
  .diseños p {
    font-size: 2.3rem;
    color: #ffffff; }
  .diseños h1 {
    margin-bottom: 4rem;
    padding-top: 4rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3.1rem;
    font-weight: bold; }
  .diseños .intro {
    font-size: 1.8rem;
    max-width: 50rem;
    margin: 0 auto; }
  .diseños .contenedor-diseño {
    padding: 5rem 0; }
  .diseños .item {
    margin-bottom: 3rem; }
    .diseños .item .box {
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 28rem;
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      box-shadow: 0px 0px 20px -3px rgba(247, 207, 135, 0.57); }
      .diseños .item .box:hover {
        cursor: pointer; }
    .diseños .item .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(89, 25, 119, 0.25);
      opacity: 0;
      transition: opacity 0.15s ease-in;
      padding-top: 10rem;
      color: #ffffff;
      text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75); }
    .diseños .item .logos img {
      width: 8rem;
      height: 8rem; }
    .diseños .item:hover .cover {
      opacity: 1; }
    .diseños .item .nombre {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 4.5rem; }

.title {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.8rem;
  font-weight: bold; }

.subtitulo {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem; }

.card {
  background-color: transparent;
  border: none; }
  .card:hover {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(4px);
    cursor: pointer; }
  .card .btn {
    background-color: #a73681;
    border: none; }
    .card .btn:hover {
      background-color: #3b5998; }
  .card .card-title {
    color: #ffffff;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold; }
  .card .card-text {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif; }

.ultimos-proyectos {
  margin: 5rem auto; }

.caida-objeto {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 1rem;
  margin-top: 3rem;
  box-shadow: 0px 0px 20px -3px rgba(247, 207, 135, 0.57); }
  .caida-objeto:hover {
    box-shadow: 0px 0px 20px -3px rgba(247, 207, 135, 0.95); }
  .caida-objeto .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .caida-objeto img {
    display: block;
    position: relative;
    width: 100%;
    height: auto; }
  .caida-objeto h2 {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 1rem;
    background: rgba(167, 54, 129, 0.5); }
  .caida-objeto p {
    font-style: italic;
    position: relative;
    color: #ffffff;
    padding: 1rem 2rem 2rem;
    text-align: center; }

.efecto .overlay {
  background-color: rgba(89, 25, 119, 0.25);
  top: -20rem;
  opacity: 0;
  transition: all 0.5s ease-out; }

.efecto h2 {
  font-weight: bold; }

.efecto p {
  font-size: 1.8rem; }

.efecto .btn {
  transform: translateY(-20rem);
  transition: all 0.3s ease-in-out; }
  .efecto .btn:hover {
    background-color: #a73681;
    border: none;
    cursor: pointer; }

.efecto:hover .overlay {
  opacity: 1;
  top: 0px;
  transition-delay: 0s; }

.efecto:hover h2 {
  transform: translateY(0px);
  transition-delay: 0.3s; }

.efecto:hover p {
  transform: translateY(0px);
  transition-delay: 0.3s; }

.efecto:hover .btn {
  transform: translateY(0px);
  transition-delay: 0s; }

@media screen and (max-width: 1024px) {
  .overlay p {
    font-size: 1.2rem; } }

@media screen and (max-width: 425px) {
  .intro .text-center {
    font-size: 1.8rem; }
  .subtitulo {
    font-size: 1.3rem !important; }
  .title {
    font-size: 1.8rem;
    margin-bottom: 3rem; }
  .contenedor {
    margin-bottom: 3rem; }
  .overlay p {
    padding: 0; } }
