%estiloParrafo{
    justify-content: center;
    text-align: justify;
    font-family: $fuentePrincipal;
    font-size: 1.2rem;
    color: $gris3;
}

%estiloFondo{
    background: linear-gradient(180deg, rgb(255, 252, 214) 0%, rgba(224,224,224,1) 100%);
}

