@mixin size($width,$height){
    width: $width;
    height: $height;
}

@mixin fondo {
    body{
        @extend %estiloFondo;
        overflow-x: hidden;
    }
}

@mixin logo {
    @include size(8rem,8rem);
}
