.presentacion-equipo {
  justify-content: center;
  padding-top: 1rem;
  font-family: $fuentePrincipal;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $colorEnlaces;
  display: flex;
}
  
.contenedor-equipo {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  display: grid;

  .contenedor-persona {
    border-radius: 6rem 0 6rem 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    &:hover {    
        box-shadow: 0px 0px 35px 0px rgb(134, 134, 134);
    }

    img {  
      inset: 0;
      height: 100%;
      width: 100%;
      transition: transform .5s;
      filter: grayscale(100%);
      z-index: -1;
      }
    
      &:hover img {
        transform: scale(1.13);
        filter: grayscale(0%);
        cursor: pointer;
      }
}

}
  
.persona {
  width: 32rem;
  height: 35rem;
  margin: 5rem auto;

  .cargo {
    color: $colorCargo;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: $fuentePrincipal;
  }
}
  

  
@media (max-width: 768px) {
  .presentacion-equipo {
    font-size: 1.1rem;
  }
  
  .contenedor-equipo {
    display: flex;
    flex-direction: column;
  }
  
  .contenedor-persona {
    width: 100%;
    height: 100%;
  }
  
  .persona {
    width: 25rem;
    height: auto;
    margin: 1rem auto;
    }
}
  
@media (max-width: 425px) {
  .persona {
    width: 19rem;
    height: auto;
  }
  
  .cargo {
    font-size: 1.1rem;
  }
}