.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $negro;

  .logo {
    padding: 1rem;
    
    a {
      text-decoration: none;
      font-size: 1.8rem;
      font-family: $fuenteSecundaria;
      color: $gris3;
    
      &:hover {
        color: $colorEnlaces;
      }
    }
  }
}
  
.iconos {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  margin-right: 3rem;

  .facebook svg:hover {
    transform: scale(1.1);
    stroke: $azul;
  }

  .instagram svg:hover {
    transform: scale(1.1);
    stroke: $rosa;
  }

  .twitter svg:hover {
    transform: scale(1.1);
    stroke: $celeste;
  }
}
   
svg:hover {
  transition: transform .3s ease-in-out;
}
  
@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
  }
  
  .iconos svg {
    @include size(2rem,2rem);
  }
  
  .logo a {
    font-size: 1.5rem;
  }
}
  
@media screen and (max-width: 425px) {
  .footer {
    width: 100%;
  }
  
  .iconos {
    gap: 2rem;
    margin-right: 2rem;
    align-items: center;
  
    svg {
      @include size(1.2rem,1.2rem);
      }
  }
  
  .logo a {
    font-size: 1.2rem;
  }
}