.contenedor-formulario{
  .formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    @include size(60rem,70rem);
  }

  .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 2rem;
    font-family: $fuentePrincipal;
    color: $gris4;
    font-size: 1.8rem;
  }
} 
  
.form-label {
  font-family: $fuentePrincipal;
  font-size: 1.8rem;
  color: $gris7;
}
  
.form-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: .1rem solid #cccccc;
  width: 100%;
  margin-bottom: 2rem;
  color: $gris1;
  font-size: 1.8rem;
  font-family: $fuentePrincipal;
}
  
.form-textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: .1rem solid #cccccc;
  margin-bottom: 2rem;
  color: $gris1;
  font-family: $fuentePrincipal;
  border-radius: .7rem;
  resize: none;
  font-size: 1.8rem;
  @include size(100%,15rem);
}
  
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  cursor: pointer;
  font-family: $fuentePrincipal;
  font-size: 2.8rem;
  color: $gris4;
  text-transform: uppercase;
  font-weight: bold;
  
  &:hover {
    color: $gris5;
    transform: scale(1.07);
    transition: transform .3s ease;
  }
}
  
@media (max-width: 768px) {
  .contenedor-formulario .formulario {
    @include size(auto,auto);
    margin: 3rem;
  }
  
  .contacto {
    font-size: 1.1rem;
  }
  
  .btn-submit {
    font-size: 2.1rem;
  }
  
  .form-label {
    font-size: 1.3rem;
  }
}
  
@media (max-width: 425px) {
  .contenedor-formulario .formulario {
    @include size(15rem,auto);
    margin: 0 auto;
  }
  
  .contacto {
    font-size: .8rem;
  }
  
  .form-input, .form-textarea {
    font-size: 1.3rem;
  }
  
  .btn-submit {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-size: 1.3rem;
  }
}