.header {
  display: flex;
  height: 5rem;
  background-color: $negro;
}
  
.navegacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  word-spacing: 10rem;
  
  ul {
    display: flex;
    gap: 10rem;
  }
  
  li {
    list-style: none;
    transition: transform .6s;

    &:hover {
      transform: scale(1.25);
      transition: transform .5s ease;
    }
    a {
      text-decoration: none;
      font-family: $fuentePrincipal;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $gris2;

      &:hover{
        color: $colorEnlaces; 
      }
      }

      
  }   
}
  
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  
  .navegacion {
    width: 100%;
    justify-content: center;
  
    ul {
      gap: 4rem;
      align-items: center;
      margin: 1rem;
    }
  
    a {
      font-size: 1.3rem;
    }
  }
}
  
@media (max-width: 425px) {
  .header {
    @include size(100vw,auto);
  }
  
  .navegacion ul {
    flex-direction: column;
    gap: .7rem;
  }
}
  
  /*Estilos navegacion general*/
  
.header2 {
  display: flex;
  height: 5rem;
  background-color: $negro;
  position: sticky;
  top: 0;
  z-index: 100;
}
  
.navegacion2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  word-spacing: 10rem;
  
  ul {
    display: flex;
    gap: 10rem;
  }
  
  li {
    list-style: none;
    transition: transform .6s;
  }
  
  a {
    text-decoration: none;
    font-family: $fuentePrincipal;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $gris2;

    &:hover{
      color: $colorEnlaces; 
    }
  }
  
  li:hover {
    transform: scale(1.25);
  }
}
  
@media (max-width: 768px) {
  .header2 {
    width: 100%;
  }
  
  .navegacion2 {
    width: 100%;
    justify-content: center;
  
    ul {
      gap: 4rem;
      align-items: center;
      margin: 1rem;
    }
  
    a {
      font-size: 1.3rem;
    }
  }
}
  
@media (max-width: 425px) {
  .header2 {
    @include size(100vw,auto);
  }
  
  .navegacion2 ul {
    flex-direction: column;
    gap: 1rem;
  }
}
  