.contenedor-bg {
  display: flex;
  background-image: url(../img/fondo-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include size(100%,100vh);
  
  .texto {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-right: 3rem;
    font-family: $fuenteSecundaria;
    font-size: 2.6rem;
    background: linear-gradient(0deg, rgb(29, 81, 94) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
}
  

  
@media (max-width: 768px) {
  .contenedor-bg {
    @include size(100%,100vh);
    background-size: contain;
    
    .texto {
      font-size: 1.1rem;
      padding-right: 1rem;
    } 
  }
}
  
@media (max-width: 425px) {
  .contenedor-bg{
    .texto {
      font-size: .6rem;
    }
  }
  
}