@include fondo;

.contenedor-bg {
  display: flex;
  background-image: url(../img/fondo-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include size(100%,100vh);
  
  .texto {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-right: 3rem;
    font-family: $fuenteSecundaria;
    font-size: 4.2rem;
    color: $blanco;
}
  }

    
  
@media screen and (max-width: 1024px) {
  .contenedor-bg {
    @include size(100%,100vh);
    background-size: cover;
    
    .texto {
      font-size: 2.3rem;
      padding-right: 1rem;
    } 
  }
}
  
@media screen and (max-width: 425px) {
  .contenedor-bg{
    height: 100vh;
    background-size: cover; 
    .texto {
      font-size: 1.7rem;
    }
  }
  
}