@include  background;

.contenido {
  @include size(60rem,57rem);
  margin: auto auto;
  padding: 3rem;
}
  
.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: $blanco;
  font-family: $fuentePrincipal;
  text-transform: uppercase;
  margin: 1rem;
}
  
.titulo {
  display: flex;
  justify-content: center;
  font-family: $fuentePrincipal;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: $gris6;
  color: $blanco;
  background: rgba( 255, 255, 255, 0.2 );
  backdrop-filter: blur( 4px );
  border-radius: 15px;
}
  
.introduccion {
  display: flex;
  padding: .5rem;
  margin: 0 auto;
  
  p{
    @extend %estiloParrafo;
    color: $blanco;
  }
}
  
.imagen{
  img {
    @include size(100%,100%);
    border-radius: 1.6rem;
    margin-top: 1rem;
    filter: grayscale(25%);
  }
} 
  
@media (max-width: 768px) {
  .contenido {
    @include size(37rem,auto);
  }
  
  .presentacion {
    font-size: 1.2rem;
  }
}
  
@media (max-width: 425px) {
  .contenido {
    @include size(auto,auto);
  }
  
  .presentacion {
    font-size: 1.3rem;
  }
  
  .titulo, .introduccion {
    font-size: 1rem;
  }
}
  