.diseños {
  display: flex;

  h2{
    font-family: $fuentePrincipal;
  }

  p {
    @extend %estiloParrafo;
    font-size: 2.3rem;
  }

  h1 {
    margin-bottom: 4rem;
    padding-top: 4rem;
    color: $gris1;
    text-transform: uppercase;
    font-family: $fuentePrincipal;
    font-size: 3.1rem;
    font-weight: bold;
  }

  .intro {
    font-size: 1.8rem;
    max-width: 50rem;
    margin: 0 auto;

  }

  .contenedor-diseño {
    padding: 5rem 0;
  }

  .item {
    margin-bottom: 3rem;
    filter: blur(0px);

    .box {
      text-align: center;
      background-repeat: no-repeat;
      background-size: calc(100%);
      background-position: center;
      height: 28rem;
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.57);

      &:hover{
        cursor: pointer;
      }
    }
    .cover {
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%,100%);
      background-color: rgba(31, 210, 255, 0.25);
      opacity: 0;
      transition: opacity 0.15s ease-in;
      padding-top: 10rem;
      color: rgb(255, 255, 255);
      text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
    }

    & .logos img{
      @include logo;
    }

    &:hover .cover {
      opacity: 1;
    }

    .nombre {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fuentePrincipal;
      font-size: 4.5rem; 
    }
  }
}

@media(max-width:425px) {
  .intro{
    & .text-center{
      font-size: 1.8rem;
    }
    
  }
  
}