*{
  margin: 0;
  padding: 0;
}

.diseños {
  display: flex;

  h2{
    font-family: $fuentePrincipal;
  }

  p {
    @extend %estiloParrafo;
    font-size: 2.3rem;
    color: $blanco;
  }

  h1 {
    margin-bottom: 4rem;
    padding-top: 4rem;
    color: $blanco;
    text-transform: uppercase;
    font-family: $fuentePrincipal;
    font-size: 3.1rem;
    font-weight: bold;
  }

  .intro {
    font-size: 1.8rem;
    max-width: 50rem;
    margin: 0 auto;
  }

  .contenedor-diseño {
    padding: 5rem 0;
  }

  .item {
    margin-bottom: 3rem;

    .box {
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 28rem;
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      box-shadow: 0px 0px 20px -3px rgba(247, 207, 135, 0.57);

      &:hover{
        cursor: pointer;
      }
    }
    .cover {
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%,100%);
      background-color: rgba(89, 25, 119, 0.25);
      opacity: 0;
      transition: opacity 0.15s ease-in;
      padding-top: 10rem;
      color: $blanco;
      text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
    }

    & .logos img{
      @include logo;
    }

    &:hover .cover {
      opacity: 1;
    }

    .nombre {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fuentePrincipal;
      font-size: 4.5rem; 
    }
  }
}

.title{
  color: $blanco;
  text-transform: uppercase;
  font-family: $fuentePrincipal;
  font-size: 3.8rem;
  font-weight: bold;
}
.subtitulo{
  color: $blanco;
  text-transform: uppercase;
  font-family: $fuentePrincipal;
  font-size: 1.5rem;
}

.card{
  background-color: transparent;
  border: none;

  &:hover{
    background: rgba( 255, 255, 255, 0.07 );
    backdrop-filter: blur( 4px );
    cursor: pointer;
  }

  .btn{
    background-color: $rosa;
    border: none;

    &:hover{
      background-color: $azul;
    }
  }
  .card-title{
    color: $blanco;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: $fuentePrincipal;
    font-weight: bold;
  }
  .card-text{
    color: $blanco;
    text-transform: uppercase;
    font-family: $fuentePrincipal;
  }
}








@media screen and (max-width:425px) {
  .intro{
    & .text-center{
      font-size: 1.8rem;
    }  
  }
  .subtitulo{
    font-size: 1.3rem !important;
  }
} 


