@include background;

.shopping-cart {
    padding-bottom: 5rem;
    height: 100vh;
    
    .content {
      background-color: $blanco;
      margin: 3rem;
      background: rgba( 255, 255, 255, 0.15 );
      backdrop-filter: blur( 4px );
      border-radius: 1rem;
    }
  
    .block-heading {
      margin-bottom: 4rem;
      text-align: center;
      font-family: $fuentePrincipal;
  
      p {
        font-size: 1.4rem;
        text-align: center;
        max-width: 42rem;
        margin: auto;
        font-family: $fuentePrincipal;
        color: $blanco;
      }
    }
  
    .dark .block-heading p {
      opacity: 0.8;
    }
  
    .block-heading {
      h1, h2, h3 {
        color: $blanco;
        font-size: 3.2rem;
      }
    }
  
    .items {
      margin: auto;
      font-family: $fuentePrincipal;
      font-size: 1.8rem;
  
      .product {
        margin-bottom: 2rem;
        padding: 2rem;
        padding-bottom: 2rem;
  
        .info {
          padding-top: 0rem;
          text-align: center;
          font-size: 1.2rem;
  
          .product-name {
            font-weight: 600;
  
            .product-info {
              font-size: 1.1rem;
  
              .value {
                font-weight: 400;
              }
            }
          }
  
          .quantity .quantity-input {
            margin: auto;
            width: 8rem;
          }
  
          .price {
            margin-top: .5rem;
            font-size: 2.2rem !important;
          }
        }
      }
    }
  
    .summary {
      padding: 3rem;
      font-family: $fuentePrincipal;
  
      h3 {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
  
      .summary-item:not(:last-of-type) {
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(39, 39, 39, 0.3);
      }
  
      .text {
        font-size: 1.2rem;
        font-weight: 600;
        color: $gris2;
      }
  
      .price {
        font-size: 1.2rem;
        float: right;
        color: $gris2;
      }
  
      button {
        margin-top: 2rem;
      }
    }
  }
  
@media (min-width: 768px) {
  .shopping-cart .items .product .info {
    text-align: left;
  
    .price {
      font-weight: bold;
      font-size: 1.1rem;
      padding-left: 3rem;
      padding-top: .5rem;
    }
  
    .quantity {
      text-align: center;
  
      .quantity-input {
        padding: .3rem;
        text-align: center;
      }
    }
  }
}